* {	margin-left: auto;
    margin-right: auto;}
.title-3, .title-4, .title-6 {
	text-align: center;
}

.title-5 {
	text-align: center;
	margin-top: -3%;
}

.sub-title {
	font-weight: bold;

}


h1 span {
	background-color: rgb(210,210,210);
	color: green;
}

div {
	margin-left: auto;
    margin-right: auto;
}

/*Hello user*/
.hello-user {
	margin-top: 3%;
	margin-left: auto;
    margin-right: auto;
}

/*Poste um novo produto - Form*/
.form-class {
	display: flex;
	background-color: white;

	width: 30%;
	height: 90%;

	margin-top: 5%;

	margin-left: auto;
    margin-right: auto;
	
}

/*Lista de Produtos*/
.list-products {
	background-color: white;

	width: 80%;

	margin-top: 10%;

	padding: 5%;
}

/*Editar produto - Form*/
.form-edit-product {
	background-color: white;

	width: 50%;

	margin-top: 5%;

	margin-bottom: 5%;
}

/*Butons*/

.create-product, .delete-button, .edit-button, .buy-button, .update-add-item {
	padding: 3%;
	margin: 2%;

	border-width: 1px;

	border-color: transparent;

}

.create-product, .update-add-item {
	background-color: black;

	margin-top: 15%;
	margin-bottom: 10%;
	margin-left: 10%;

	width: 80%;

	color: white;

}

.delete-button {
	background-color: white;
	width: 80px;


	border-color: #ff4040;

	color: #ff4040;
}

.edit-button {
	width: 80px;
	background-color: white;


	border-color: #ffbf87;
	color: #ffbf87;

}

.buy-button {
	width: 80px;
	background-color: white;



	border-color: #24b7ff;
	color: #24b7ff;
}

.update-add-item {

	margin-top: 3%;

	font-size: 15px;
}


