@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,700&display=swap');
.fundo {
	display: block;
	font-family: 'Roboto Mono';
	height: 100vh;
}

.logo {
	margin-left: 5%;
	margin-top: 1%;
	margin-bottom: 5%;
}

